name: Publish Check

on:
  workflow_call:

jobs:
  publish-check:
    name: Publish Dry Run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - name: Check package
        run: cargo publish --dry-run
